.text-align-right {
  display: flex;
  justify-content: flex-end;
  }
  .card-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 0rem 1rem 1rem 1rem;
  }