.product-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 3rem 0rem 3rem 0rem;
  }
  .product-wrapper h1 {
    font-size: 3rem;
    font-family: "Nunito Sans";
    font-weight: 600;
  }
  /* mobile responsive */
  @media screen and (max-width: 906px) {
    .product-wrapper h1 {
      font-size: 2rem;
      font-family: "Nunito Sans";
      font-weight: 600;
      text-align: center;
    }
  }